<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="app">

    <section ng-controller="main">
      {{ nombre }}
      <input type="number" ng-model="nombre"> euro<span ng-if="nombre > 1">s</span>
      <button ng-click="augmenter()" type="button" name="button">Augmenter</button>

      <button ng-click="setCent()" type="button" name="button">La valeur à 100</button>


      <button ng-click="nbDeFois = nbDeFois  * 2" type="button" name="button">Nb de fois *2</button>

      <p ng-if="nombre >= 20">Super nombre</p>
      <h3>{{ nombre * 2 }}</h3>
      <p>
        Nombre de fois cliqué:
         {{ nbDeFois}} click<span ng-if="nbDeFois > 1">s</span>
      </p>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


<script src="js/recap.js" charset="utf-8"></script>



  </body>
</html>
