<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="appUsers">


    <section ng-controller="UsersCtrl">
        <h3>Gestion des Utilisateurs</h3>
        <hr />

      <ul>
        <li ng-repeat="user in users">
          <button type="button" class="btn btn-sm btn-danger" name="button">
            <span class="fa fa-times"></span>
          </button>
          <p> {{ user.nom }} {{ user.prenom }}</p>
          <p> Habite à {{ user.ville }}</p>
          <p> {{ user.age }} ans </p>
        </li>
      </ul>
      <div class="col-md-8">
        <hr />
      <h3>
        Ajouter un utilisateur
      </h3>

        <form ng-submit="ajouterUser()">
            <div class="form-group">
              <input id="homme"  type="radio" value="true" name="sexe" ng-model="sexe">
              <label for="homme">Homme</label>
              <input id="femme" type="radio" value="false" name="sexe" ng-model="sexe">
              <label for="femme">Feminin</label>
            </div>
            <div class="form-group">
              <input placeholder="Vore Nom" class="form-control" type="text" name="nom" ng-model="nom">
            </div>
            <div class="form-group">
              <input placeholder="Vore Prénom" class="form-control" type="text" name="prenom" ng-model="prenom">
            </div>
            <div class="form-group">
              <input placeholder="Vore Age" class="form-control" type="text" name="prenom" ng-model="age">
            </div>
            <div class="form-group">
              <input placeholder="Vore Ville" class="form-control" type="text" name="ville" ng-model="ville">
            </div>
            <button class="btn btn-primary" type="submit" name="button">Enregistrer cet utilisateur</button>
        </form>
    </div>



    </section>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="js/users.js"></script>


  </body>
</html>
